<section>
  <ul
    class="ms-auto capitalize text-2nd-color flex flex-col gap-2 md:flex-row md:space-x-0 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700 text-sm"
  >
    <li>
      <div class="flex justify-center items-center">
        <a
          class="block py-2 px-2 hover:text-main-color hover:underline hover:font-semibold cursor-pointer transition-all duration-500"
        >
          sign in
        </a>

        <span class="text-caption flex jc items-center"
          ><i class="fa-solid fa-chevron-right"></i
        ></span>
      </div>
    </li>

    <li>
      <a
        class="block py-2 px-2 text-second-color font-semibold"
        aria-current="page"
      >
        forget password
      </a>
    </li>
  </ul>

  @if(step === 1){
  <div
    class="w-[70%] my-10 mx-auto bg-sec-color shadow-md shadow-second-color border-1 rounded-md"
  >
    <form
      class="w-full p-4"
      [formGroup]="verifyEmail"
      (ngSubmit)="verifyEmailSubmit()"
    >
      <div>
        <label for="email" class="block font-medium mb-2">E-mail</label>
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
          >
            <span class="text-main-color">
              <i class="fa-regular fa-envelope"></i>
            </span>
          </div>
          <input
            formControlName="email"
            type="email"
            id="email"
            class="border border-second-color text-2nd-color text-sm rounded-lg focus:ring-main-color focus:border-main-color block w-full ps-10 p-2.5 mb-3"
            placeholder="ayasayed123@gmail.com"
          />
        </div>

        @let emailControl = verifyEmail.get('email'); @if( emailControl?.errors
        && emailControl?.touched) {
        <div
          class="flex p-3 mb-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <ul class="text-caption font-medium">
              @if ( emailControl?.getError("required")) {
              <li>Email is required.</li>

              } @else if ( emailControl?.getError("email")) {
              <li>Please enter a valid email address.</li>
              }
            </ul>
          </div>
        </div>
        }
      </div>

      <button
        [disabled]="verifyEmail.invalid"
        type="submit"
        class="btn px-4 mt-6 rounded-md"
      >
        verify email
      </button>
    </form>
  </div>
  }@else if (step === 2) {
  <div
    class="w-[70%] my-10 mx-auto bg-sec-color shadow-md shadow-second-color border-1 rounded-md"
  >
    <form
      class="w-full p-4"
      [formGroup]="verifyCode"
      (ngSubmit)="verifyCodeSubmit()"
    >
      <div>
        <label for="code" class="block font-medium mb-2">Reset Code</label>
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
          >
            <span class="text-main-color">
              <i class="fa-solid fa-hashtag"></i>
            </span>
          </div>
          <input
            formControlName="resetCode"
            type="text"
            id="code"
            class="border border-second-color text-2nd-color text-sm rounded-lg focus:ring-main-color focus:border-main-color block w-full ps-10 p-2.5 mb-3"
            placeholder="001634"
          />
        </div>

        @let resetCode = verifyCode.get('resetCode'); @if( resetCode?.errors &&
        resetCode?.touched) {
        <div
          class="flex p-3 mb-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <ul class="text-caption font-medium">
              @if ( resetCode?.getError("required")) {
              <li>Reset Code is required.</li>

              } @else if ( resetCode?.getError("pattern")) {
              <li>Please enter a valid Code.</li>
              }
            </ul>
          </div>
        </div>
        }
      </div>

      <button
        [disabled]="verifyCode.invalid"
        type="submit"
        class="btn px-4 mt-6 rounded-md"
      >
        verify code
      </button>
    </form>
  </div>
  }@else if (step === 3) {
  <div
    class="w-[70%] my-10 mx-auto bg-sec-color shadow-md shadow-second-color border-1 rounded-md"
  >
    <form
      class="w-full p-4"
      [formGroup]="resetPassword"
      (ngSubmit)="resetPasswordSubmit()"
    >
      <div>
        <label for="email" class="block font-medium mb-2">E-mail</label>
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
          >
            <span class="text-main-color">
              <i class="fa-regular fa-envelope"></i>
            </span>
          </div>
          <input
            formControlName="email"
            type="email"
            id="email"
            class="border border-second-color text-2nd-color text-sm rounded-lg focus:ring-main-color focus:border-main-color block w-full ps-10 p-2.5 mb-3"
            placeholder="ayasayed123@gmail.com"
          />
        </div>

        @let email = resetPassword.get('email'); @if( email?.errors &&
        email?.touched) {
        <div
          class="flex p-3 mb-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <ul class="text-caption font-medium">
              @if ( email?.getError("required")) {
              <li>Email is required.</li>

              } @else if ( email?.getError("email")) {
              <li>Please enter a valid email address.</li>
              }
            </ul>
          </div>
        </div>
        }
      </div>

      <div>
        <label for="newPass" class="block font-medium mb-2">Password</label>
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
          >
            <span class="text-main-color">
              <i class="fa-solid fa-lock"></i>
            </span>
          </div>
          <input
            formControlName="newPassword"
            type="password"
            id="newPass"
            class="border border-second-color text-2nd-color text-sm rounded-lg focus:ring-main-color focus:border-main-color block w-full ps-10 p-2.5 mb-3"
            placeholder="xxxxxxxxxxxx"
          />
        </div>

        @let newPassControl = resetPassword.get('newPassword'); @if(
        newPassControl?.errors && newPassControl?.touched) {
        <div
          class="flex p-3 mb-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <ul class="text-caption font-medium">
              @if ( newPassControl?.getError("required")) {
              <li>Password is required.</li>
              } @else if ( newPassControl?.getError("pattern")) {
              <li>Password must contain at least one uppercase letter.</li>
              }
            </ul>
          </div>
        </div>
        }
      </div>

      <button
        [disabled]="resetPassword.invalid"
        type="submit"
        class="btn px-4 mt-6 rounded-md"
      >
        reset password
      </button>
    </form>
  </div>
  }
</section>
