.home{
    display: flex;
    align-items: center;
    height: 100vh;
    background-image:  linear-gradient(rgba(0,0,0,0.387),rgba(0,0,0,0.387)), url('/images/unsplash_jrQv0161nNM.png');
    background-size: cover;
    background-position: center;
}

.collection-1{
    background-image:  linear-gradient(rgba(0,0,0,0.387),rgba(0,0,0,0.387)), url('/images/unsplash_mB-SwZFP1kQ.png');
    background-size: cover;
    background-position: center;

}

.collection-2{
    background-image:  linear-gradient(rgba(0,0,0,0.387),rgba(0,0,0,0.387)), url('/images/unsplash_g-9b4W7N67U.png');
    background-size: cover;
    background-position: center;

}

.collection-3{
    background-image:  linear-gradient(rgba(0,0,0,0.387),rgba(0,0,0,0.387)), url('/images/unsplash_Dli2lIXQiJc.png');
    background-size: cover;
    background-position: center;

}

