<nav
  class="bg-sec-color shadow dark:bg-gray-900 fixed w-full z-20 top-0 start-0"
>
  <div class="w-sec flex flex-wrap items-center justify-between mx-auto">
    <a href="#" class="flex items-center space-x-2 rtl:space-x-reverse">
      <h1 class="text-main-color font-semibold text-H1 px-4">Trendy</h1>
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div
      class="items-center hidden flex-grow w-full md:flex md:w-auto"
      id="navbar-default"
    >
      @if (isLogin()) {
      <ul
        class="mx-auto capitalize flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-0 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li>
          <a
            routerLinkActive=" text-main-color font-semibold "
            routerLink="/home"
            class="block py-2 px-2 text-sm"
            aria-current="page"
            >home</a
          >
        </li>

        <li>
          <a
            routerLinkActive=" text-main-color font-semibold "
            routerLink="/products"
            class="block py-2 px-2 text-sm"
            aria-current="page"
            >products</a
          >
        </li>
        <li>
          <a
            routerLinkActive=" text-main-color font-semibold "
            routerLink="/categories"
            class="block py-2 px-2 text-sm"
            aria-current="page"
            >categories</a
          >
        </li>
        <li>
          <a
            routerLinkActive=" text-main-color font-semibold "
            routerLink="/brands"
            class="block py-2 px-2 text-sm"
            aria-current="page"
            >brands</a
          >
        </li>
      </ul>
      }

      <ul
        class="ms-auto capitalize flex flex-col gap-2 p-4 mt-4 md:flex-row md:space-x-0 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <!-- social media icons -->
        <!-- <li>
          <a
            href="#"
            class="block py-2 px-2 "
            aria-current="page"
          >
            <i class="fab fa-instagram"></i>
          </a>
        </li>

        <li>
          <a
            href="#"
            class="block py-2 px-2 "
            aria-current="page"
          >
            <i class="fab fa-facebook"></i>
          </a>
        </li>

        <li>
          <a
            href="#"
            class="block py-2 px-2 "
            aria-current="page"
          >
            <i class="fab fa-tiktok"></i>
          </a>
        </li>

        <li>
          <a
            href="#"
            class="block py-2 px-2 "
            aria-current="page"
          >
            <i class="fab fa-twitter"></i>
          </a>
        </li>

        <li>
          <a
            href="#"
            class="block py-2 px-2 "
            aria-current="page"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </li>

        <li>
          <a
            href="#"
            class="block py-2 px-2 "
            aria-current="page"
          >
            <i class="fab fa-youtube"></i>
          </a>
        </li> -->

        <!-- Authorization Buttons -->

        @if (!isLogin()) {
        <li class="border border-main-color text-main-color rounded-md">
          <a
            routerLinkActive=" text-main-color font-semibold  bg-main-color text-white"
            routerLink="/login"
            class="block py-2 px-2 text-sm"
            aria-current="page"
            >SignIn</a
          >
        </li>

        <li class="border border-main-color text-main-color rounded-md">
          <a
            routerLinkActive=" text-main-color font-semibold bg-main-color text-white "
            routerLink="/register"
            class="block py-2 px-2 text-sm"
            aria-current="page"
            >SignUp</a
          >
        </li>
        }@else {

        <li
          title="Wishlist"
          class="block p-2 font-medium rounded-md text-second-color transition-all duration-300"
        >
          <a
            routerLink="/wishlist"
            routerLinkActive=" text-main-color font-semibold "
            role="button"
            aria-current="page"
          >
            <span class="flex justify-center items-center text-lg">
              <i class="fa-regular fa-heart"></i>
            </span>
          </a>
        </li>

        <li
          title="Portfolio"
          class="block p-2 font-medium rounded-md text-second-color transition-all duration-300"
        >
          <a role="button" aria-current="page">
            <span class="flex justify-center items-center text-lg">
              <i class="fa-regular fa-user"></i>
            </span>
          </a>
        </li>

        <!-- Cart Icons  -->

        <li
          title="Cart"
          class="block p-2 font-medium rounded-md text-second-color"
        >
          <a
            routerLinkActive=" text-main-color font-semibold "
            routerLink="/cart"
            aria-current="page"
          >
            <span class="flex justify-center items-center text-lg">
              <i class="fa-solid fa-cart-plus"></i>
            </span>
          </a>
        </li>

        <li
          title="SignOut"
          class="block p-2 rounded-md font-medium text-second-color transition-all duration-300"
        >
          <a role="button" aria-current="page" (click)="authService.signOut()">
            <span class="flex justify-center items-center text-lg">
              <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </span>
          </a>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
