<footer class="bg-footer text-white py-10">
  <div class="w-sec mx-auto">
    <h3 class="m-0 text-H2">Get The FreshCart App</h3>
    <p class="text-2nd-color text-caption mb-2">
      We Will Send You a Link, Open it on Your Phone to download the app
    </p>

    <div class="flex items-center gap-3 text-nowrap">
      <input type="text" class="w-full rounded-lg" placeholder="Email" />
      <button class="btn px-4 rounded-md">Share App Link</button>
    </div>

    <div class="pay-details md:flex justify-between items-center my-5">
      <div class="flex items-center gap-2">
        <h3 class="m-0">Payment partners</h3>
        <img src="/images/amazon-pay.png" width="50px" alt="" />
        <img src="/images/American-Express-Color.png" width="50px" alt="" />
        <img src="/images/paypal.png" width="50px" alt="" />
        <img src="/images/mastercard.webp" width="50px" alt="" />
      </div>

      <div class="flex items-center gap-2">
        <h3 class="m-0">Get Deliveries with FreshCart</h3>
        <img src="/images/get-google-play.png" width="100px" alt="" />
        <img src="/images/get-apple-store.png" width="100px" alt="" />
      </div>
    </div>
  </div>
</footer>
