<div class="header border p-1 rounded-md">
  <ul
    class="ms-auto capitalize text-2nd-color flex flex-col gap-2 md:flex-row md:space-x-0 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700 text-sm"
  >
    <li>
      <div class="flex justify-center items-center">
        <a
          class="block py-2 px-2 hover:text-main-color hover:underline hover:font-semibold cursor-pointer transition-all duration-500"
        >
          home
        </a>

        <span class="text-caption flex jc items-center"
          ><i class="fa-solid fa-chevron-right"></i
        ></span>
      </div>
    </li>
    <ng-content />
  </ul>
</div>
