<app-navtabs>
  <li>
    <a
      class="block py-2 px-2 text-second-color font-semibold"
      aria-current="page"
    >
      categories
    </a>
  </li>
</app-navtabs>

<div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 py-10">
  @for (brand of brands; track brand._id) {
  <div class="card item hover:scale-105 transition-all duration-500">
    <div class="card-img">
      <div>
        <img
          [src]="brand.image"
          class="w-full h-[200px] object-contain"
          [alt]="brand.name"
        />
      </div>
    </div>
    <div class="card-body p-4 border-t text-center">
      <h3 class="text-main-color text-sm font-semibold">
        {{ brand.name }}
      </h3>
    </div>
  </div>

  }
</div>
